* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #E57010;
  text-decoration: none;
  text-decoration-color: white;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/*
#contact-info {
  width: 50%;
}*/
#contact-me{
  margin-top: 20px;
}
#contact-me h2{
  float: left;
  display: inline-block;
}
#contact-me ul {
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}
#contact-me li {
  display: inline-block;
  margin-left: 25px;
}


/*
#contact-info ul li { 
  list-style:none;
  margin:10px;
  float: right; 

  text-decoration: none;
}*/
/*
nav ul li:first-child { float: left; }

nav ul li { 
  list-style:none;
  margin:10px;
  float: right; 
  margin-top: -20px;
  text-decoration: none;
}*/

/*
header {
  display:flex;
}

header nav {
  float: right;
}

header nav ul li {
display:inline;
margin: 5px;
float: right;
}
/*
/*header {
  background-color: white;
  padding: 20px 40px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  top:0;
  position: sticky;
  position: -webkit-sticky;
}

header a {
  text-decoration: none;
  font-size: 3.60 vw;
}
header h1{
  color:#00B4D8;
  display: flex;
  justify-content: flex-start;
  margin: 7px 0;
  font-size: 3.60 vw;
  text-decoration: none;
}
header nav {
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between flex-end;
  align-items: center;
  list-style: none;
  vertical-align: center;
}
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 3.60 vw;
  color: #00B4D8;
  text-decoration: none;
  font-weight: bolder;
}
*/
#about-me {
  display: inline-block;
}
#about-me h2 {
  display: top;
  text-align: center;
  padding: 10px;
  margin:20px
}
.flex-items {
  display: flex;
  flex:1;
}
#bio-image {
  display: flex;
  height: 300px;
  width: 300px;
  padding: 20px 30px;
  float: left
}
#about-me p {
  display: flex;
  padding: 20px;
  float: right;
}
body {
  background-color: white;
  /*margin: 50px;*/
}


/*
#contact-info h2 {
  display: flex;
  justify-content: left;
}
#contact-info ul{
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 20px;
  text-decoration: none;
}
.section-title {
  font: x-large;
  font-weight: bolder;
  padding: 20px;
}
/*#grid-wrapper {
  display:flex;
  width: 100%;
  justify-content: left;
}
.project-grid-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  row-gap: 4;
  background: #CAF0F8 ;
  width: 80%;
  border: 2px solid #024e76;
  grid-auto-flow: dense;
}
.service-grid-item {
  padding: 15px 0;
  font-size: 35px;
  border: 2px solid #024e76;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.project-grid-item.work {
  grid-template-columns: 1,span 2;
  grid-template-rows: 1, span 2;
}
.project.grid.item.large {

}
*/
#check-out-my-work h2 {
  text-align: center;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  height: 400px;
  width: 400px;
  margin: 50px;

  }
  
  .div1 { 
   grid-area: 1 / 1 / 3 / 3;
   justify-content: space-between;
}
  .div2 { 
    grid-area: 3 / 1 / 4 / 2;
    justify-content: space-between;
    padding-top: 20;
   }
  .div3 { 
    grid-area: 3 / 2 / 4 / 3;
    background-color: blue; }
  .div4 { 
    grid-area: 1 / 3 / 2 / 4;
   background-color: pink; }
  .div5 { 
    grid-area: 2 / 3 / 3 / 4;
  background-color: darkgreen; }

  footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  }
